.form {
    min-width: 300px;
    min-height: 300px;
    padding: 10px 10px 25px;
    border-radius: 10px;

    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; 

    .formTitle {
        padding: 10px;

        font-size: 24px;
        font-weight: 700;
    }

    .formBox, .formBoxItem {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px; 
    }

    .formBox {
        width: 100%;

        .formBoxItem {
            width: 85%;

            align-items: flex-start;

            input {
                width: 100%;
                height: 30px;
                padding: 5px;

                font-family: 'Comfortaa';

                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 10px;
            }

            textarea {
                width: 100%;
                height: 110px;
                padding: 5px;

                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 10px;

                font-family: 'Comfortaa';
                
                resize: none;
            }
        }
    }


    

    
}