.customCard {

    cursor: pointer;

    transform: perspective(1200px);
    transform-style: preserve-3d;

    .customCardFlipper {
        width: 360px;
        height: 460px;
        
        position: relative;

        transform-style: preserve-3d;

        transition: .5s linear;  

        .customCardFront, .customCardBack {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border-radius: 15px;
        }
    
        .customCardFront {
            z-index: 2;
            transform: rotateY(0deg);
            filter: drop-shadow(0px 4px 15px rgba(0,0,0,0.08));
        }
    
        .customCardBack {
            transform: rotateY(-180deg);
            background-color: #fff;
            filter: drop-shadow(0px 4px 15px rgba(0,0,0,0.08));

            .customCardBackTextRecipient {
                margin-top: 50px;
                
                font-size: 20px;
                font-weight: bold;
            }

            .customCardBackTextSender {
                font-size: 14px;
                font-weight: normal;
            }

            .customCardBackText {
                font-weight: normal;
            }
        }
    }

    .customCardSwitchBtn {
        width: 40px;
        height: 40px;

        position: absolute;
        bottom: 10px;
        right: 10px;

        opacity: .3;

        transform: scale(1, -1) 
            rotate(130deg);
        transition: opacity 0.3s ease-in-out,
            width 0.3s ease-in-out,
            height 0.3s ease-in-out;
    }

    &.isFlipped .customCardFlipper{
        transform: rotateY(180deg);
    }

    .customCardBackText, 
    .customCardBackTextRecipient,
    .customCardBackTextSender {
        font-family: 'Neucha', cursive; 

        margin: 20px 0;

        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .customCardBackText {
        font-size: 18px;
    }
}

@media (max-width: 1599px) {

}

@media (max-width: 1023px) {
    .customCard {
        .customCardFlipper {
            // width: 360px;
            // height: 460px;
            width: 288px;
            height: 368px;

            .customCardFrontImg, .customCardBackImg {
                width: 288px;
                height: 368px;
            }
        }
    }
}

@media (max-width: 490px) {
    .customCard {
        .customCardFlipper {
            // width: 360px;
            // height: 460px;
            width: 252px;
            height: 322px;

            .customCardFrontImg, .customCardBackImg {
                width: 252px;
                height: 322px;
            }
        }
    }
}
