.header {
    width: 100%;

    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerLogoLink {
        text-decoration: none;
        color: inherit;
    }

    .headerLogo {
        padding: 0.5rem 1rem 0.5rem 0.5rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        background-color: #E7F6FF;
        border-radius: 1.428rem;
        box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.04);

        .headerLogoContent {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    .headerBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        img {
            width: 20px;
            height: 20px;
            margin-right: 1rem;
        }

        .headerBarCart {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .headerBarCartText {
                font-weight: 600;
            }
        }

        .headerBarFavorite {
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.line {
    margin: 5px 0;

    border: 1px solid #f0f0f0;
}

@media (max-width: 767px) {

    .header {
        padding: 1rem;
        
        .headerLogo {
            padding-right: .5rem;

            .headerLogoImg {
                width: 40px;
                height: 40px;
            }

            .headerLogoContent {
                display: none;
            }
        }
    }
}