.storeCard {
    min-width: 330px;
    min-height: 300px;
    padding-left: 1.43rem;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
 
    .storeCardFront, .storeCardBack {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 15px;
    }

    .storeCardFront {
        width: 180px;
        height: 230px;
        box-sizing: border-box;
        
        position: relative;

        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);

        background-color: #fff;

        .storeCardFrontImg {
            width: 100%;
            height: 100%;
        }
    }

    .storeCardBack {
        width: 180px;
        height: 230px;

        box-sizing: border-box;
        position: absolute;
        left: 110px;
        top: 35px;
        z-index: -1;

        transform: rotate(20deg);
        background-color: #fff;
        // box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);

        .storeCardBackImg {
            width: 100%;
            height: 100%;
        }
    }

    .storeCardSwitchBtn {
        width: 20px;
        height: 20px;

        opacity: .3;

        position: absolute;
        bottom: 10px;
        right: 10px;

        transform: scale(1, -1)
        rotate(130deg);
        transition: opacity 0.3s ease-in-out,
            width 0.3s ease-in-out,
            height 0.3s ease-in-out;
    }

    &:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 767px) {
    .storeCard {
        // Исходные размеры:
        // min-width: 330px;
        // min-height: 300px;
        min-width: 297px; // На 0.9 умножаем 
        min-height: 270px;
        padding-left: 1.43rem;

        .storeCardFront {
            // width: 180px;
            // height: 230px;
            width: 162px;
            height: 207px;
        }

        .storeCardBack {
            width: 162px;
            height: 207px;

            // left: 110px;
            // top: 35px;
            left: 99px;
            top: 31px;
        }
    }
}