@import 'nullstyle';

body {
    margin: 0 auto;

    background-color: rgb(255, 241, 223);
}

h1,
h2, 
h3, 
h4,
h5,
h6,
p,
span,
a {
    font-family: 'Comfortaa', cursive;
}

.wrapper {
    max-width: 1440px;
    padding: 10px;
    margin: auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.cardList {
    .cardListItem {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 670px){
    .wrapper {
        height: auto;
        margin: 20px 0;

        flex-direction: column;
        gap: 50px;
    }
}