/* 
? Смартфоны — 320 пикселей, 480 и выше;
? Планшеты — 768 пикселей и выше;
? Нетбуки — 1024 пикселей и выше;
? Мониторы — 1280 пикселей, 1600, 1920 и выше.
*/

@import 'nullstyle';

html {
    font-size: 14px;
}

* {
    font-family: 'Comfortaa', cursive;
    // Впоследствии купить шрифт Graphik
}

h1 {
    font-size: 2.29rem;
    font-weight: 700;
}

h2 {
    font-size: 1.72rem;
    font-weight: 700;
}

h3 {
    font-size: 1.43rem;
    font-weight: 700;
}

button {
    font-size: 1rem;
}

body {
    background: #E7F6FF;
    padding: 2rem 1.428rem;
}

.app {
    max-width: 1600px;
    height: auto;
    margin: 0 auto;

    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 1.428rem;

    /* Pages */

    .page {
        padding: 2rem;

        .page__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .page__body {
            display: flex;

            .store__categories {
                min-width: 20%;

                .store__categories-title {
                    padding: 1.43rem 0;
                }

                .store__categories-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .store__categories-button {
                        width: 100%;
                        min-width: 220px;
                        padding: 1rem 1rem;

                        background-color: #fff;
                        border: 1px solid #d3d3d3;
                        border-bottom: none;

                        text-align: left;

                        cursor: pointer;
                        
                        input {
                            display: none;
                        }

                        &:first-of-type {
                            border-top-left-radius: .5rem;
                            border-top-right-radius: .5rem;
                        }

                        &:last-of-type {
                            border-bottom-left-radius: .5rem;
                            border-bottom-right-radius: .5rem;
                            border-bottom: 1px solid #d3d3d3;
                        }

                        &:active {
                            background-color: #fccb86;
                        }

                        &:hover {
                            background-color: #ffdfb1;
                        }
                    }
                    
                        .store__categories-button--active {
                        background-color: #ffdfb1;

                        font-weight: 700;
                    }

                }
            }
    
            .page__list {
                padding: 2.14rem;

                display: flex;
                flex-direction: row;
                gap: 50px;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
    
                .page__list-item {
                    position: relative;
                    z-index: 0;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;

                    .page__list-item-favorite {
                        position: absolute;

                        top: 20px;
                        left: 5px;
                        z-index: 1;

                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);

                        border-radius: .5rem;

                        cursor: pointer;
                    }

                    .page__list-item-title {
                        font-size: 1.14rem;
                    }

                    .page__list-item-price-block {
                        width: 80%;
                        margin-bottom: 10px;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .page__list-item-price-block-cost {
                            font-size: 1.14rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

    }

    /* /Pages */

    .page__title {
        margin: 20px 0;
    }

    .search-block {
        height: 50px;
        width: 300px;
        padding: 0px 1.29rem;
        position: relative;
    
        border: 1px solid #e4e4e4;
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;

        .search-block__lens {
            height: 14px;
        }

        input {
            padding: 0 1.1rem;
            min-width: 230px;

            &::placeholder {
                color: #C4C4C4;
            }
        }

    }

    .bg--blur {
        width: 100%;
        height: 100%;
    
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        // visibility: hidden;
        // opacity: 1;
        overflow: hidden;
    
        background-color: rgba(0, 0, 0, 0.5);

        backdrop-filter: blur(4px);
    }

    .btn__buy {
        padding: 1rem 2rem;

        font-size: 1.14rem;
        font-weight: 700;
        color: inherit;

        background-color: #ffdfb1;
        
        border-radius: 1rem;
    }
    
    .btn__buy--store {
        padding: .75rem 1.5rem;
    }

    .clear {
        width: 22px;
        height: 22px;

        cursor: pointer;
    }

    .show {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.1s ease-in-out;
    }

    .hide {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.1s ease-in-out;

    }
}

@media (max-width: 1599px) {
    .app {
        .page {
            .page__body {    
                .page__list {
                    justify-content: space-evenly;
                }
            }
        }
    }
}

@media (max-width: 1279px) {
    .app {
        .page {
            padding: 1.5rem;

            .page__body {
                flex-direction: column;

                .page__list {
                    gap: 3rem;

                    justify-content: space-evenly;

                    .page__list-item {
                        .page__list-item-favorite {
                            position: absolute;
    
                            top: 14px;
                            left: 3px;
                        }

                        .page__list-item-price-block {
                            .page__list-item-price-block-cost {
                                font-size: 1.14rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }

    .app {
        .page {
            .page__body {    
                .page__list {
                    justify-content: center;
                }
            }
        }

        .btn__buy--store {
            padding: .75rem 1rem;
        }
    }
}