/* 
? Смартфоны — 320 пикселей, 480 и выше;
? Планшеты — 768 пикселей и выше;
? Нетбуки — 1024 пикселей и выше;
? Мониторы — 1280 пикселей, 1600, 1920 и выше.
*/

@import 'nullstyle';

html {
    font-size: 14px;
}

* {
    font-family: 'Comfortaa', cursive;
    // Впоследствии купить шрифт Graphik
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

button {
    font-size: 14px;
}

body {
    background: #E7F6FF;
    padding: 2rem 1.428rem;
}

.App {
    max-width: 1600px;
    height: auto;
    margin: 0 auto;

    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 1.428rem;

    .store {
        padding: 2rem;

        .store__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .store__body {
            display: flex;


            .store__categories {
                min-width: 20%;

                .store__categories-title {
                    padding: 20px 0;
                }

                .store__categories-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    button {
                        width: 100%;
                        min-width: 220px;
                        padding: 1rem 1rem;

                        background-color: #fff;
                        border: 1px solid #d3d3d3;
                        border-bottom: none;

                        text-align: left;
                    }

                    .store__categories-button--active, 
                    button:hover, 
                    button:target {
                        background-color: #ffdfb1;

                        font-weight: 700;
                    }

                    button:first-of-type {
                        border-top-left-radius: .5rem;
                        border-top-right-radius: .5rem;
                    }

                    button:last-of-type {
                        border-bottom-left-radius: .5rem;
                        border-bottom-right-radius: .5rem;
                        border-bottom: 1px solid #d3d3d3;;
                    }

                }
            }
    
            .store__list {
                padding: 30px;

                display: flex;
                flex-direction: row;
                gap: 50px;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
    
                .store__list-item {
                    position: relative;
                    z-index: 0;

                    // border: 1px solid lightblue;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;

                    .store__list-item-title {
                        font-size: 16px;
                    }

                    .store__list-item-price-block {
                        width: 80%;
                        margin-bottom: 10px;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .store__list-item-price-block-cost {
                            font-size: 1.14rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .page__title {
        margin: 20px 0;
    }

    .search-block {
        height: 50px;
        width: 300px;
        padding: 0px 18px;
        position: relative;
    
        border: 1px solid #e4e4e4;
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;

        .search-block__lens {
            height: 14px;
        }

        input {
            padding: 0 15px;
            min-width: 230px;

            &::placeholder {
                color: #C4C4C4;
            }
        }

    }

    .bg--blur {
        width: 100%;
        height: 100%;
    
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        // visibility: hidden;
        // opacity: 1;
        overflow: hidden;
    
        background-color: rgba(0, 0, 0, 0.5);
    
        transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
        
        backdrop-filter: blur(4px);
    }

    .btn__buy {
        padding: 1rem 3rem;

        font-size: 1.14rem;
        font-weight: 700;

        background-color: #ffdfb1;
        
        border-radius: 1rem;
    }
    
    .btn__buy--store {
        padding: .75rem 2rem;
    }

    .clear {
        width: 22px;
        height: 22px;
    }
}