/* 
? Смартфоны — 320 пикселей, 480 и выше;
? Планшеты — 768 пикселей и выше;
? Нетбуки — 1024 пикселей и выше;
? Мониторы — 1280 пикселей, 1600, 1920 и выше.
*/

@import 'nullstyle';

html {
    font-size: 14px;
}

* {
    font-family: 'Comfortaa', cursive;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

body {
    background: #E7F6FF;
    padding: 2rem 1.428rem;
}

.App {
    max-width: 1600px;
    height: auto;
    margin: 0 auto;

    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 1.428rem;
}