
    .demoCard {
        width: 30%;
        min-width: 320px;
        height: 300px;
        padding-left: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
            
        .demoCardFront, .demoCardBack {
            padding: 10px 20px 20px;

            // left: 60px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            border-radius: 15px;
        }
    
        .demoCardFront {
            width: 180px;
            height: 250px;
            box-sizing: border-box;
            
            position: relative;
    
            box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
    
            background-color: #fff;
    
            .demoCardFrontImg {
                width: 120px;
                height: 105px;
            }
        }
    
        .demoCardBack {
            width: 180px;
            height: 250px;
    
            box-sizing: border-box;
            position: absolute;
            left: 100px;
            top: 0px;
            z-index: -1;
    
            transform: rotate(20deg);
            background-color: #fff;
            box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
    
            .demoCardBackText {
                font-size: 10px;
            }
    
            .demoCardBackImg {
                width: 35px;
                height: 35px;
            }
        }
    
        .demoCardFrontTitle, .demoCardBackText {
            font-family: 'Neucha', cursive; 
    
            margin: 10px 0;
    
            font-size: 13px;
            font-weight: bold;
            text-align: center;
        }
    
        .demoCardSwitchBtn {
            width: 20px;
            height: 20px;
    
            opacity: .3;
    
            position: absolute;
            bottom: 10px;
            right: 10px;
    
            transform: scale(1, -1)
            rotate(130deg);
            transition: opacity 0.3s ease-in-out,
                width 0.3s ease-in-out,
                height 0.3s ease-in-out;
        }
    }

// @media (max-width: 1400px) {
//     .demoCardFront, .demoCardBack {
//         left: 10px;
//     }
// }

// @media (max-width: 1100px) {
//     .demoCard {
//         width: 50%;
//     }
// }

// @media (max-width: 740px) {
//     .demoCard {
//         width: 100%;

//         align-items: center;
//     }
// }